# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.swp
*.bak
*.sql
media/
staticfiles/
static/
.env
*.env

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
