{% extends "layout.html" %} 
{% block title %} My app {% endblock title %}
 {% block content %}
<h1 class="text-center text-white">My app</h1>
<a href="{%url 'blog_create'%}" class="btn btn-primary mb-5"> Create a blog</a>
<div class="row container gap-3">
  {% for blog in blogs %}
  <div class="card mt-5" style="width: 18rem">
    <img src="{{blog.photo.url}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{blog.user.username}}</h5>
      <p class="card-text">{{blog.text}}</p>
      {%if blog.user == user%}
      <a href="{%url 'blog_edit' blog.id %}" class="btn btn-primary">Edit</a>
      <a href="{%url 'blog_delete' blog.id %}" class="btn btn-danger">Delete </a>
      {%endif%}
    </div>
  </div>
  {% endfor %}

 


</div>
{% endblock content %}
